<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <!-- <style> -->
	<!-- table, th, td { -->
		<!-- border: 1px solid black; -->
	<!-- } -->
  <!-- </style> -->
</head>
<body style="background-color:lightblue;">
  <h1>Film collection</h1>
  <table style="width:100%" border="1px solid black">
	<tr>
		<th hidden>id</th>
		<th style="font-weight:bold;">Title</th>
		<th style="font-weight:bold;">Description</th>
		<th style="font-weight:bold;">Rating</th>
		<th style="font-weight:bold;">Released</th>
		<th></th>
	</tr>
	<% for(var i=0; i<film.length; i++) {%>
	  <tr>
		<th hidden><%= film[i]._id %></th>
		<th><%= film[i].title %></th>
		<th><%= film[i].description %></th>
		<th><%= film[i].rating %></th>
		<th><%= film[i].released %></th>
		<th>
		<form action="/films/delete?id=<%= film[i]._id.toString() %>" method="POST">
			<button type="submit" style="font-weight:bold;">&#10006;</button>
		</form>
		<form action="/films/update?id=<%= film[i]._id.toString() %>&title=<%= film[i].title%>&description=<%= film[i].description %>&rating=<%= film[i].rating %>&released=<%= film[i].released %>" method="POST">
			<button type="submit">&#9998;</button>
		</form>
		</th>
	  </tr>
	<% } %>
  </table>
  <br>
  <table style="width:auto">
  <tr>
    <td><form action="/"><input type="submit" value="&#127968;"></form></td>
    <td><form action="/insert"><input type="submit" value="&#10010;"></form></td>
  </tr>
  </table>
</body>
</html>
