<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<script>

</script>
<body>
  List of films.

  <ul class="film">
  <% for(var i=0; i<film.length; i++) {%>
    <li class="film">
      <span><%= film[i].id %></span>
      <span><%= film[i].title %></span>
	  <span><%= film[i].description %></span>
	  <span><%= film[i].rating %></span>
	  <span><%= film[i].released %></span>
		<form action="/films/delete?id=<%= film[i].id %>" method="POST">
			<button type="submit">Delete <%= film[i].id %> </button>
		</form>
		<form action="/films/update?id=<%= film[i].id %>&title=<%= film[i].title%>&description=<%= film[i].description %>&rating=<%= film[i].rating %>&released=<%= film[i].released %>" method="POST">
			<button type="submit">Update <%= film[i].id %> </button>
		</form>
    </li>
  <% } %>
  </ul>

</body>
</html>