<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <style>
	table, th, td {
		border: 1px solid black;
	}
  </style>
</head>
<body>
  <h1>Film collection</h1>
  <table style="width:100%">
	<tr>
		<th hidden>id</th>
		<th>title</th>
		<th>description</th>
		<th>rating</th>
		<th>released</th>
		<th></th>
	</tr>
	<% for(var i=0; i<film.length; i++) {%>
	  <tr>
		<th hidden><%= film[i]._id %></th>
		<th><%= film[i].title %></th>
		<th><%= film[i].description %></th>
		<th><%= film[i].rating %></th>
		<th><%= film[i].released %></th>
		<th>
		<form action="/films/delete?id=<%= film[i]._id.toString() %>" method="POST">
			<button type="submit">Delete</button>
		</form>
		<form action="/films/update?id=<%= film[i]._id.toString() %>&title=<%= film[i].title%>&description=<%= film[i].description %>&rating=<%= film[i].rating %>&released=<%= film[i].released %>" method="POST">
			<button type="submit">Update</button>
		</form>
		</th>
	  </tr>
	<% } %>
  </table>
  <br>
  <span><a href="/">Insert new film</a></span>
</body>
</html>
