<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<script>

</script>
<body>
  <h1>Update film</h1>
  <form action="/films/updateDo?id=<%= film.id %>" method="POST">
	<input type="text" placeholder="id" name="id" value="<%= film.id %>" readonly><br/>
	<input type="text" placeholder="title" name="title" value="<%= film.title %>"><br/>
	<input type="text" placeholder="description" name="description" value="<%= film.description %>"><br/>
	<input type="text" placeholder="rating" name="rating" value="<%= film.rating %>"><br/>
	<input type="text" placeholder="released" name="released" value="<%= film.released %>"><br/>
	<button type="submit">Update</button>
  </form>
  <br>
  <span><a href="/films">Cancel</a></span>
</body>
</html>
